:root {
  --background: #141414;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.alice-carousel img {
  height: auto;
  width: 30%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alice-carousel {
  background-color: var(--background);
  width: 10vw;
}
