.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  top: 0;
  width: 100%;
  height: auto;
}

.nav {
  z-index: 2;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.navlist {
  display: flex;
  justify-content: space-around;
}

.navlist li {
  padding-right: 30%;
  list-style: none;
}

.logo {
  z-index: 1;
  position: absolute;
  top: 23%;
  width: 50%;
  height: auto;
}

.about {
  background-color: var(--background);
  z-index: -1;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.about h2 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 5vh;
  border-top: 2px solid white;
  padding-top: 1%;
}

.about p {
  color: white;
  width: 70%;
  margin-top: -1.3%;
  font-size: 3vh;
}
