.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  top: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

.nav {
  z-index: 1;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navlist {
  display: flex;
  justify-content: space-around;
}

.navlist li {
  padding-right: 30%;
}
