.nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  position: fixed;
  top: 0;
  margin-top: 1%;
  margin-left: 1.5%;
}

.navlist {
  z-index: 3;
  display: flex;
  justify-content: center;
}

.navlist li {
  z-index: 3;
  flex-wrap: nowrap;
  color: white;
  list-style: none;
  border: 0.3vw solid white;
  padding: 2% 4% 2% 4%;
  margin: 0 3% 0 0;
  font-size: 1.1vw;
}

.videoandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navlogo {
  z-index: 2;
  width: 20%;
  cursor: pointer;
}
