.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.video {
  top: 0;
  width: 100%;
  height: auto;
}

.nav {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  position: fixed;
  top: 0;
  margin-top: 1%;
  margin-right: 5%;
}

.navlist {
  z-index: 3;
  display: flex;
  justify-content: center;
}

.navlist li {
  z-index: 3;
  flex-wrap: nowrap;
  color: white;
  list-style: none;
  border: 0.3vw solid white;
  padding: 2% 4% 2% 4%;
  margin: 0 3% 0 0;
  font-size: 1.1vw;
}

.videoandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlogo {
  z-index: 2;
  width: 15%;
}

.setlist {
  z-index: 0;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150vh;
}
.text {
  margin-top: -6%;
}
.setlist li {
  color: white;
  width: 70%;
  font-size: 2.3vh;
  line-height: 1.6em;
}

.sectionheader {
  font-family: "Courier New", Courier, monospace;
  font-size: 6vw;
  color: white;
  font-style: italic;
}
