.videopage {
  display: flex;
  justify-content: center;
}

.imggrid {
  display: flex;
  justify-content: center;
  width: 70%;
}
.imggrid img {
  object-fit: cover;
  width: 20%;
  height: 140%;
  margin: 2%;
}

.title {
  text-align: center;
}
